SUPABASE_URL=https://royiflhvuddgtlxhssue.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJveWlmbGh2dWRkZ3RseGhzc3VlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyNDA4MDMsImV4cCI6MjA4NzgxNjgwM30.zddBTzMwiQdxPg61iqZIhq50XA4wZnzDg6yxAe_yJ4Q
TIMEZONE=America/Argentina/Buenos_Aires
